/* SITE DEFAULTS */
* {
	font-family: 'Open Sans', sans-serif;
	outline: none;
}
body {
	margin: 0;
	padding: 0;
	background-color: #f9f9f9;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}
.container {
	width: calc(100% - 20px);
	max-width: 1024px;
	margin: 0 auto;
}

/* SITE HEADER */
header {
	border-bottom: 1px solid #ddd;
	margin-bottom: 30px;
	background-color: #fff;
	box-shadow: 0 1px 8px 0 rgba(0,0,0,0.1);
}
.header-top {
	background-color: #C9C9C9;
	font-size: 0.8em;
	padding: 5px 0;
	text-align: center;
	text-transform: uppercase;
	color: #FFF;
}

/* FORMS */
/*input {
	display: block;
	margin: 10px 0;
}
input[type=submit] {
	margin-top: 20px;
	background-color: #27BFF2;
	border: 0;
	border-bottom: 3px solid #47ABCC;
	color: #fff;
	padding: 8px 20px;
	border-radius: 3px;
	cursor: pointer;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
	transition: background-color ease 200ms, box-shadow ease 200ms;
}
input[type=submit]:hover {
	background-color: #48CEFA;
	box-shadow: 0 3px 5px 0 rgba(0,0,0,0.3);
	box-shadow: 0px 8px 15px -10px rgba(0,0,0,1);
	transition: background-color ease 200ms, box-shadow ease 200ms;
}*/

.box-dragndrop,
.box-uploading,
.box-success,
.box-error {
	display: none;
}

.drop-box {
	padding: 100px 20px;
	background-color: #eaeaea;
	text-align: center;
	border-radius: 5px;
}

/* Advanced upload form */
.drop-box.has-advanced-upload {
	background-color: #eaeaea;
	outline: 2px dashed #ccc;
	outline-offset: -10px;
	transition: outline-offset 250ms ease, background-color 250ms ease;
}
.drop-box.has-advanced-upload .box-dragndrop {
	display: inline;
}
.drop-box.has-advanced-upload .box-file,
.drop-box.has-advanced-upload .box-button {
	display: none;
}
.drop-box.has-advanced-upload label[for=files] {
	cursor: pointer;
	color: #888;
}
.drop-box.has-advanced-upload label[for=files] strong {
	color: #000;
	transition: color 350ms ease;
}
.drop-box.has-advanced-upload label[for=files]:hover strong,
.drop-box.has-advanced-upload label[for=files]:active strong {
	color: #3DCDF5;
	transition: color 200ms ease;
}
.drop-box.is-dragover {
	background-color: #dadada;
	outline-offset: -20px;
	transition: outline-offset 250ms ease, background-color 250ms ease;
}
.drop-box.is-uploading .box-input {
	display: none;
}
.drop-box.is-uploading .box-uploading {
	display: block;
}


/* UPLOADED FILES */
.uploaded-files {
	margin: 20px 0;
}
.uploaded-files .uploaded-file-block + .uploaded-file-block {
	margin-top: 5px;
}
.uploaded-files .uploaded-file-block a {
	display: block;
	padding: 15px;
	background-color: #666;
	border: 2px solid #666;
	border-radius: 3px;
	/*border-left: 10px solid #3DCDF5;*/
	text-align: center;
	font-weight: 400;
	text-decoration: none;
	color: #ccc;
	/*box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);*/
	transition: box-shadow 200ms ease, background-color 200ms ease, color 200ms ease;
}
.uploaded-files .uploaded-file-block a:hover {
	color: #fff;
	box-shadow: inset 0px 10px 34px -10px rgba(0,0,0,0.4);
	transition: box-shadow 200ms ease, background-color 200ms ease, color 200ms ease;
}